.container {
    padding: 0 2rem;
    background-color: #f0f0eb;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f0f0eb;
    z-index: 1000; 
  }
  
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.25rem;
  }

.logoImage {
  max-height: 30px;
  max-width: 30px;
}

.logoText {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header.scrolled .logoText {
  animation: moveLeft 0.3s forwards;
}

.logoText:not(.header.scrolled .logoText) {
  animation: moveRight 0.8s forwards;
}

@keyframes moveLeft {
  to {
    transform: translateX(-20px); /* Adjust this value as needed */
    opacity: 0;
  }
}

@keyframes moveRight {
  from {
    transform: translateX(-20px); /* Match the value used in moveLeft */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.loginButton {
    background-color: transparent;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto; 
  }
  
.main {
    padding: 4rem 0;
    text-align: center;
  }
  
.title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text: black;
  }
  
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
.card {
  background: #fff;
  margin: 15px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  text-align: left;
  max-width: 300px;
}

.cardInside {
  padding: 12px 20px;
}

.cardTitle {
  font-size: 22px;
  font-weight: 550;
  margin-bottom: 10px;
}
  
.cardImage {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
  }

.getStartedLink:hover {
    background-color: #005bb5;
  }

.getStartedLink {
    background-color: #4747ff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

/* Existing styles */

.button {
    border: none;
    color: white;
    padding: 12px 10px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    font-size: 20px;
    margin-right: 20px;
    justify-content: center;
}

.tryItButton {
  background-color: #4747ff; /* Blue background for Sign In button */
  color: white;
}

.tryItButton:hover {
  background-color: #005bb5; /* Darker blue on hover */
}
