/* styles/CreateEvent.module.css */
.container {
    padding: 0 2rem;
}

.mainContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main {
    width: 80%;
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .formContainer {
    display: flex;
    align-items: center;
  }
  
  .form {
    width: 40%;
    margin-right: 100px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .field label {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
  }
  
  .field input,
  .field textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .field textarea {
    resize: vertical;
  }
  
  .button {
    background-color: #0070f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-self: flex-start;
  }
  
  .imageContainer {
    display: inline-block;
    text-align: center;
  }
  
  .imageContainer img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .createLink {
    background-color: #4747ff;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
  